<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HomeAutomation</title>
	<script type="text/javascript" src="node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
	<%include templates/header %>
	
	
	<div class="content">
		<div class="row">
			<%	
				var buttonsIterator = {};
				for(i = 0; i < buttons.length; i++) {
					buttonsIterator.name = buttons[i].name;
					%><%include templates/buttons %><% 
				}
			%>
		</div>
	</div>
	
	
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>