<div class="col-md-3">
	<div class="btn-group btn-block">
		<button type="button" id="bla" class="btn btn-lg col-md-10 col-xs-10 btnToggle btn-primary <%= buttonsIterator.topic.replace("/","-") %>" data-type="<%= buttonsIterator.type %>" data-state="0" data-topic="<%= buttonsIterator.topic.replace("/","-") %>"><%= buttonsIterator.name %></button>
		<button type="button" class="btn btn-lg col-md-2 col-xs-2 btn-primary" data-toggle="modal" data-target="#myModal">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
	</div>
</div>